.about-us-justify {
    display: flex;
    align-items: center;
    height: 100%;
}



.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.clearfix {
    text-align: left;
    font-size: 24px;
    color: #fff
}

.h1 {
    color: #bfbfbf !important;
    /* background-color: white; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important; */
    font-size: 100px !important;
}

.offers-header {
    color: #05E2FC;
}

.cover-mobile {
    background-image: url(https://i.imgur.com/wAAP18A.png);
    background-size: cover;
}

.aboutus-img-mobile {
    width: 60%;
    height: auto;
}

.aboutUs-mobile {
    padding: 50px;
    background-color: #0F0150;
}


.cover-web {
    background-image: url('https://i.imgur.com/wAAP18A.png');
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs-web {
    background-color: #0F0150;
    width: 100%;
    height: 1080px;
}


.cover {
    background-image: url('https://i.imgur.com/wAAP18A.png');
    background-size: 100% 100%;
    background-position: center center;

    background-repeat: no-repeat;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs {
    background-image: url('https://i.imgur.com/e370B0h.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 1050px;
    /* Set the height of the div */
    min-height: 0;
}

.aboutUs-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutUs-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.aboutUs-description p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ourServices {
    background-color: #0F0150;
}

.ourServices-mobile {
    padding-top: 50px;
    background-color: #0F0150;
}

.offers {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 100px;
        /* Even larger font size for h1 on extra-large screens */
    }

    .aboutUs-description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1200px) {
    .services {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 100px;
        margin-bottom: 20px;
    }
}



@media (max-width: 767px) {
    .form {
        padding: 30px;
    }

    .ContactUs {
        padding: 0px !important;
    }

    h3 {
        padding-top:0px !important ;
        padding-bottom: 46px;
    }
    .mobile-service {
        display: flex;
        justify-content: center;
    }

    .regular {
        font-family: adequate-regular;
        font-size:  8px !important;
        text-align: left !important;
      }

    .about-us-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clearfix {
        text-align: center !important;
        font-size: 10px !important;
    }

    .services {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    
    .services p {
        padding-bottom: 0px !important;
    }
    .h1 {
        font-size: 50px !important;
        /* Larger font size for h1 on larger screens */
    }

    .cover {
        /* Adjust the background size for smaller screens */
        background-size: contain;
    }

    .KICKSTARTER {
        font-size: 12px !important;
    }
}

.ContactUs {
    padding: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}