@font-face {
  font-family: "adequate-bold";
  src: url("../src/assets/GILROY-BOLD.TTF")
}

.bold {
  font-family: adequate-bold;
}

@font-face {
  font-family: "adequate-light";
  src: url("../src/assets/GILROY-BLACK.TTF")
}

.light {
  font-family: adequate-light;
}

@font-face {
  font-family: "adequate-medium";
  src: url("../src/assets/GILROY-MEDIUM.TTF")
}

.medium {
  font-family: adequate-medium;
}

@font-face {
  font-family: "adequate-regular";
  src: url("../src/assets/GILROY-BLACK.TTF")
}

.regular {
  font-family: adequate-regular;
  color: #fff
}

body,
html {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: adequate-bold !important;
  padding-bottom: 80px;
  padding-top: 100px;
}

.ContactUs {
  background-color: #0F0150;
}

.service-img {
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:link:active,
a:visited:active {
  color: #fff;
}

.css-bupxxy-MuiInputBase-root-MuiInput-root::before {
  border-color: rgb(255, 255, 255) !important;
}

.css-1qymr3o-MuiInputBase-root-MuiInput-root::before {
  border-color: rgb(255, 255, 255) !important;
}

.css-1qymr3o-MuiInputBase-root-MuiInput-root {
  color: #fff !important;
}

.css-bupxxy-MuiInputBase-root-MuiInput-root {
  color: #fff !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
}

fieldset {
  border-color: #fff !important;
}