@font-face {
  font-family: "adequate-bold";
  src: url("../src/assets/adequate-bold.ttf")
}

.bold {
  font-family: adequate-bold;
}

@font-face {
  font-family: "adequate-light";
  src: url("../src/assets/adequate-light.ttf")
}

.light {
  font-family: adequate-light;
}

@font-face {
  font-family: "adequate-medium";
  src: url("../src/assets/adequate-medium.ttf")
}

.medium {
  font-family: adequate-medium;
}

@font-face {
  font-family: "adequate-regular";
  src: url("../src/assets/adequate-regular.ttf")
}

.regular {
  font-family: adequate-regular;
}

body,
html {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: adequate-bold !important;
  padding-bottom: 80px;
  padding-top: 100px;
}

.ContactUs {
  background-color: #bfbfbf;
}

.service-img {
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}